defaults: &defaults
  docker:
    - image: 087285199408.dkr.ecr.us-east-1.amazonaws.com/circle-ci-test-image-base:go1.13
version: 2
jobs:
  test:
    <<: *defaults
    steps:
      - checkout
      - run: run-go-tests
workflows:
  version: 2
  build-and-test:
    jobs:
      - test:
          filters:
            tags:
              only: /^v.*/
          context:
            - Gruntwork Admin
